footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: auto;

    ul {
        display: flex;
        flex-direction: row;

        &#footer-links {
            justify-content: start;
        }

        &#social-icons {
            justify-content: end;
        }
    }
}
