header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    text-align: center;

    #site-name {
        font-size: 3rem;
    }

    #page-title {
        font-size: 2rem;
    }

    #account {
        flex: 1;
        font-size: 0.8rem;

        .button {
            font-size: 1rem;
        }
    }

    &::before {
        content: "";
        flex: 1;
    }
}
