{
        # Replace with your email address.
        # This is needed to generate a Let's Encrypt certificate.
        email sysadmin@example.com
}

# Replace with your domain. It's recommended to use both the apex domain and www subdomain.
www.example.com, example.com {

        # You probably don't need to change this if you're using the default docker-compose setup.
        # The frontend is usually exposed only internally to the caddy service as 'frontend'.
        reverse_proxy http://frontend:80

        # These are important security options. Don't change them without reading about them first.
        header {
                Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
                X-Content-Type-Options nosniff
                X-Frame-Options DENY
                Referrer-Policy same-origin
                X-XSS-Protection "1; mode=block"
                Content-Security-Policy "default-src 'none'; img-src 'self'; style-src 'self'"
        }

}
