version: "3.8"

services:

  solr:
    container_name: solr
    image: solr
    profiles: 
      - prod

    volumes:
      - ./solr/data:/var/solr/
      - ./solr/configset:/owdex_configset:ro
      - ./solr/entrypoint.sh:/entrypoint.sh

    entrypoint:
    - /entrypoint.sh
  
  solr-dev:
    container_name: solr
    image: solr
    profiles: 
      - dev

    ports:
      - 8983:8983
    volumes:
      - ./solr/data:/var/solr/
      - ./solr/configset:/owdex_configset:ro
      - ./solr/entrypoint.sh:/entrypoint.sh

    entrypoint:
      - /entrypoint.sh


  mongo:
    container_name: mongo
    image: mongo
    profiles: 
      - prod

    volumes:
      - ./mongo/data:/data/db
  
  mongo-dev:
    container_name: mongo
    image: mongo
    profiles: 
      - dev

    ports:
      - 27017:27017
    volumes:
      - ./mongo/data:/data/db
  
  mongo-express:
    container_name: mongo-express
    image: mongo-express
    profiles: 
      - dev

    restart: always
    ports:
      - 8081:8081


  frontend:
    container_name: frontend
    build: ./src
    profiles: 
      - prod

    ports:
      - 80:80
