# OWDEX Configuration

# THESE VALUES SHOULD BE CHANGED. NOT DOING SO WILL POSE SECURITY RISKS.

# Set a secret key, used to sign session cookies.
SECRET_KEY = "supersneaky"

# Set debug mode. This must be disabled for prod environments.
# DEBUG = true

# Set a username and password for the primary admin user.
# The password is hashed with Argon2.
# Generate one on a Python console with:
#   >>> from argon2 import PasswordHasher
#   >>> PasswordHasher().hash("YOUR_PASSWORD")
# The default password is 'admin'.
ADMIN_USERNAME = "admin"
ADMIN_PASSWORD = "$argon2id$v=19$m=65536,t=3,p=4$zez+nZx3qzveFYrpH2Uvrg$3ZJ0nzcFNmbk8xDaycwvY3t5zpyIyCxXEr6/8qqfiLc"

# Set a name for an anonymous submitter.
# Any contributions will be credited to this user by default.
# An account cannot be created with this username.
ANONYMOUS_SUBMITTER = "anonymous"

# Set maximum length for a page's description.
DESCRIPTION_MAX_LENGTH = 150
