<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>owdex - {% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='tailwind.css') }}">
        {% if custom_css is defined %}
            <link rel="stylesheet" href="{{ custom_css }}">
        {% endif %}
    </head>
    <body class="px-40 py-5 h-screen text-gray-400 bg-gray-900">
        <header class="flex pb-4 mb-4 border-b border-gray-400">
            <a href="/"><h1 class="text-4xl text-blue-400">Owdex</h1></a>
            <h2 class="ml-auto text-4xl">{{ self.title() }}</h2>
        </header>
        {% block main %}
        {% endblock main %}
        <footer>
        </footer>
    </body>
</html>
