{% extends "page.html" %}

{% block title %}
    about
{% endblock title %}

{% block main %}
<div class="w-2/3">
    <h2 class="text-xl font-semibold">
        What is XINASE?
    </h2>
    <p>
        XINASE is an open index of pages from across the web. Instead of crawling through hypertext
        based on links, it only indexes pages that its users direct it to. XINASE aims to build a 
        better alternative to web search by cutting through the cruft of junk results and bringing 
        focus to real information.
    </p>
    
    <h2 class="text-xl font-semibold">
        Warning
    </h2>
    <p>
        XINASE is not even working, let alone production-ready. It is not presently usable to 
        fulfill its intended purpose. For that reason, it's not advisable to use it in a production
        environment. However, I'm making a hard push towards an alpha release soon, which should be
        ready Eventually (TM).
    </p>
</div>
{% endblock main %}