<!DOCTYPE html>
<html>
    <head>
        <title>xinase - add a page</title>
        <link rel="stylesheet" href="/static/tailwind.css">
    </head>
    <body class="px-40 py-5 h-screen text-gray-400 bg-gray-900">
        <header class="flex pb-4 mb-4 border-b border-gray-400">
            <a href="/"><h1 class="text-4xl text-blue-400">xinase</h1></a>
            <h2 class="ml-auto text-4xl">add a page</h2>
        </header>
        <main class="my-auto">
            <form class="flex flex-col justify-center space-y-6" method="post">
                <label>
                    <input 
                    type="url" 
                    name="url" 
                    placeholder="https://example.com/posts/the-cake-is-a-lie.html" 
                    required
                    class="p-2 w-2/3 bg-gray-800 rounded-lg border border-gray-600"
                    >
                    <div class="text-sm font-bold text-gray-600">
                        URL
                    </div>
                </label>
                <label>
                    <input 
                    type="text" 
                    name="title" 
                    placeholder="The Cake Is A Lie" 
                    required
                    class="p-2 w-2/3 bg-gray-800 rounded-lg border border-gray-600"
                    >
                    <div class="text-sm font-bold text-gray-600">
                        title
                    </div>
                </label>
                <label>
                    <input 
                    type="text" 
                    name="submitter" 
                    placeholder="ed_siddon"
                    class="p-2 w-1/3 bg-gray-800 rounded-lg border border-gray-600"
                    >
                    <div class="text-sm font-bold text-gray-600">
                        submitter (optional)
                    </div>
                </label>
                <label>
                    <span class="hidden">
                        add this link
                    </span>
                    <button class="p-2 w-32 text-center text-blue-400 bg-gray-800 rounded-lg border border-blue-400">
                        confirm!
                    </button>
                </label>
                <div class="space-y-4 w-1/3 text-sm">
                    <p>
                        by submitting this link, you confirm that it complies with our <a href="/standards">index standards</a>.
                    </p>
                    <p>
                        submitted links will be added to the unstable index, where others can vote on them. if it recieves enough votes and passes trusted review, it will be moved to the stable index. <a href="/about" class="font-semibold text-blue-400 hover:underline decoration-blue-400">learn more about indices</a>.
                    </p>
                    <p>
                        if you add an entry to the 'submitter' field, this is the submitter name that will be attributed with having indexed this page. it serves no purpose other than gaining clout. leave it blank for the submission to be marked as anonymous.
                    </p>
                </div>
            </form>
        </main>
    </body>
</html>
