<!DOCTYPE html>
<html>
    <head>
        <title>xinase - home</title>
    </head>
    <body>
        <h1>xinase</h1>
        <form>
            <input type="search" name="q">
            <fieldset>
                <legend>index(es)</legend>
                <label>
                    <input type="checkbox" name="index" value="stable">
                    stable
                </label>
                <label>
                    <input type="checkbox" name="index" value="unstable">
                    unstable
                </label>
                <label>
                    <input type="checkbox" name="index" value="archive">
                    archive
                </label>
            </fieldset>
            <input type="submit" value="search">
        </form>
    </body>
</html>