<!DOCTYPE html>
<html>
    <head>
        <title>xinase - home</title>
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body class="flex flex-col justify-center h-screen text-gray-400 bg-gray-900">
            <h1 class="mb-12 text-7xl text-center">xinase</h1>
            <form>
                <div class="flex justify-center">
                    <input type="search" name="q" action="/search" class="w-1/3 bg-gray-800 rounded-l-lg border-l border-gray-600 border-y">
                    <input type="submit" value="search" class="bg-gray-800 rounded-r-lg border-r border-gray-600 border-y">
                </div>
                <div class="flex justify-center mt-6 space-x-7">
                    <fieldset>
                        <legend>indices</legend>
                        <label class="block">
                            <input type="checkbox" name="index" value="stable" class="accent-blue-600" checked>
                            stable
                        </label>
                        <label class="block">
                            <input type="checkbox" name="index" value="unstable" class="accent-green-600" checked>
                            unstable
                        </label>
                        <label class="block">
                            <input type="checkbox" name="index" value="archive" class="accent-orange-600">
                            archive
                        </label>
                    </fieldset>
                    <fieldset class="text-right">
                        <legend class="ml-auto">sorting</legend>
                        <label class="block">
                            by best match
                            <input type="radio" name="sort" value="relevance" class="accent-blue-600">
                        </label>
                        <label class="block">
                            by score
                            <input type="radio" name="sort" value="relevance" class="accent-blue-600">
                        </label>
                        <label class="block">
                            by magic
                            <input type="radio" name="sort" value="relevance" class="accent-blue-600" checked>
                        </label>
                    </fieldset>
                </div>
            </form>
    </body>
</html>