<!DOCTYPE html>
<html>
    <head>
        <title>xinase - home</title>
    </head>
    <body>
        <h1>xinase</h1>
        <form>
            <input type="search" name="q">
            <fieldset>
                <legend>index(es)</legend>
                <label>
                    <input type="checkbox" name="index" value="stable" checked>
                    stable
                </label>
                <label>
                    <input type="checkbox" name="index" value="unstable" checked>
                    unstable
                </label>
                <label>
                    <input type="checkbox" name="index" value="archive">
                    archive
                </label>
            </fieldset>
            <fieldset>
                <legend>sorting</legend>
                <label>
                    <input type="radio" name="sort" value="relevance">
                    by best match
                </label>
                <label>
                    <input type="radio" name="sort" value="relevance">
                    by score
                </label>
                <label>
                    <input type="radio" name="sort" value="relevance" checked>
                    by magic
                </label>
            </fieldset>
            <input type="submit" value="search">
        </form>
    </body>
</html>