{% extends "page.html" %}

{% block title %}
    results for "{{ query }}"
{% endblock title %}

{% block main %}
<main class="my-5">
    <p class="ml-auto italic text-right">on {{ indices }}, sorted by {{ sort }}</p>

    <div class="flex flex-col w-1/4">
    {% for result in results %}
        <div class="my-4">
            <a href="{{ result.url }}">
                <h4 class="inline mr-1.5 text-xl text-blue-400 hover:underline decoration-blue-400">{{ result.title }}</h4>
                <span class="text-xs hover:underline">{{ result.url }}</span>
            </a>
            <p class="text-sm">{{ result.description }}</p>
        </div>
    {% endfor %}
    </div>
</main>
{% endblock main %}
