@use "sass:color";

$scale-factor: 25%;
$base-hue: 222;

$light: hsl($base-hue, 30%, 95%);
$less-light: color.scale($light, $lightness: -25%);
$more-light: color.scale($light, $lightness: 25%);

$dark: hsl($base-hue, 30%, 5%);
$less-dark: color.scale($dark, $lightness: 25%);
$more-dark: color.scale($dark, $lightness: -25%);

$accent: hsl($base-hue, 100%, 50%);
