@use "colors";

$themes: (
    default: (
        bg: linear-gradient(white, colors.$light),
        text: colors.$dark,
        link: colors.$accent,
        border: colors.$less-dark,
        font-copy: (
            "Inter",
            "Helvetica Neue",
            "Helvetica",
            "Arial",
            "sans-serif",
        ),
    ),
    dark: (
        bg: linear-gradient(colors.$dark, black),
        text: colors.$light,
        link: colors.$accent,
        border: colors.$more-light,
        font-copy: (
            "Inter",
            "Helvetica Neue",
            "Helvetica",
            "Arial",
            "sans-serif",
        ),
    ),
);
