@use "colors";
@use "fonts";

$themes: (
    default: (
        bg: linear-gradient(white, colors.$light),
        bg-color: colors.$light,
        text: colors.$dark,
        caption: colors.$less-light,
        link: colors.$accent,
        border: colors.$less-dark,
        font-display: fonts.$inter,
        font-copy: fonts.$lato,
    ),
    dark: (
        bg: linear-gradient(colors.$dark, black),
        bg-color: colors.$dark,
        text: colors.$light,
        caption: colors.$less-dark,
        link: colors.$accent,
        border: colors.$more-light,
        font-display: fonts.$inter,
        font-copy: fonts.$lato,
    ),
);
