@use "abstract/themes";
@use "sass:map";

/*
  Here we set a number of CSS variables on the pattern of --theme-x where x is a subkey in $themes.
  This seems to be the easiest way to support light and dark mode.
*/
$themes: themes.$themes;
html {
    @each $key, $value in map.get($themes, "default") {
        --theme-#{$key}: #{$value};
    }

    @media (prefers-color-scheme: dark) {
        @each $key, $value in map.get($themes, "dark") {
            --theme-#{$key}: #{$value};
        }
    }
}

html,
body {
    min-height: 100vh;
}

body {
    background: var(--theme-bg);
    font-family: var(--theme-font-copy);
    color: var(--theme-text);
    font-size: 1.25rem;
}
