{% extends "_base.html" %}
{% block title %}
    log in or sign up
{% endblock title %}
{% block main %}
    <form method="post">
        <label>
            username
            <input
                name="username"
                required
            />
        </label>
        <label>
            password
            <input
                name="password"
                type="password"
                required
            />
        </label>
        <div>
            <button formaction="/account/login">log in</button>
            <button formaction="/account/signup">sign up</button>
        </div>
    </form>
{% endblock main %}
