{% extends "fragments/form.html" %}
{% import "macros/forms.html" as forms %}
{% block title %}
    log in or sign up
{% endblock title %}
{% block content %}
    <div>
        {{
            forms.field(
            "username",
            required=True,
            )
        }}
        {{
            forms.label(
            "username"
            )
        }}
    </div>
    <div>
        {{
            forms.field(
            "password",
            type="password",
            required=True,
            )
        }}
        {{
            forms.label(
            "password"
            )
        }}
    </div>
    <div>
        {{
            essentials.button(
            "log in",
            formaction="/account/login"
            )
        }}
        {{
            essentials.button(
            "sign up",
            formaction="/account/signup"
            )
        }}
    </div>
{% endblock content %}
