{% extends "page.html" %}

{% block title %}
    add a page
{% endblock title %}

{% block main %}
    <form method="post">
        <label>
            <input 
            type="url" 
            name="url" 
            required
            hx-get="/get_title"
            hx-trigger="keyup delay:500ms changed"
            hx-target="#title"
            hx-params="url"
            hx-swap="outerHTML"
            >
            <span>
                URL
            </span>
        </label>
        <label>
            {% include "title_input.html" %}
            <span>
                title
            </span>
        </label>
        <label>
            <input 
            type="text" 
            name="submitter" 
            value="{{ submitter }}"
            required
            >
            <span>
                submitter
            </span>
        </label>
        <label>
            {{ essentials.button("confirm!") }}
        </label>
        <div>
            <p>
                by submitting this link, you confirm that it complies with our {{ essentials.link("/standards", "index standards") }}.
            </p>
            <p>
                submitted links will be added to the unstable index, where others can vote on them. if it recieves enough votes and passes trusted review, it will be moved to the stable index. {{essentials.link("/about", "learn more about indices")}}.
            </p>
            <p>
                if you add an entry to the 'submitter' field, this is the submitter name that will be attributed with having indexed this page. it serves no purpose other than gaining clout. leave it blank for the submission to be marked as anonymous.
            </p>
        </div>
    </form>
{% endblock main %}
