{% extends "fragments/form.html" %}
{% import "macros/forms.html" as forms %}
{% block title %}
    add a page
{% endblock title %}
{% block content %}
    <div>
        {% include "htmx/url_input.html" %}
        {{
            forms.label(
            "url"
            )
        }}
    </div>
    <div>
        {% include "htmx/title_input.html" %}
        {{
            forms.label(
            "title"
            )
        }}
    </div>
    <div>
        {{
            forms.field(
            "submitter",
            value=submitter,
            required=True
            )
        }}
        {{
            forms.label(
            "submitter"
            )
        }}
    </div>
    {{ essentials.button("confirm!") }}
{% endblock content %}
{% block fine_print %}
    <p>
        by submitting this link, you confirm that it complies with our
        {{ essentials.link("/standards", "index standards") }}.
    </p>
    <p>
        submitted links will be added to the unstable index, where others can vote on
        them. if it recieves enough votes and passes trusted review, it will be moved to
        the stable index. {{ essentials.link("/about", "learn more about indices") }}.
    </p>
    <p>
        if you add an entry to the 'submitter' field, this is the submitter name that
        will be attributed with having indexed this page. it serves no purpose other than
        gaining clout. leave it blank for the submission to be marked as anonymous.
    </p>
{% endblock fine_print %}
