{% extends "_base.html" %}
{% block title %}
    home
{% endblock title %}
{% block header %}
    <h1>Owdex</h1>
    <h2>/o&#650;d&#603;ks/</h2>
{% endblock header %}
{% block main %}
    <form action="/results">
        <fieldset>
            <legend>Options</legend>
            <label>
                core
                <select
                    name="core"
                    hx-get="/fetch_indices"
                    hx-target="#indices"
                    hx-swap="outerHTML"
                >
                    {% for core_name in cores %}
                        <option value="{{ core_name }}">
                            {{ core_name }}
                        </option>
                    {% endfor %}
                </select>
            </label>
            <label>
                indices
                {% include "htmx/index_input.html" %}
            </label>
            <label>
                sort by
                <select name="sort">
                    {% for sort_method in ["relevance", "votes", "magic"] %}
                        <option value="{{ sort_method }}">
                            {{ sort_method }}
                        </option>
                    {% endfor %}
                </select>
            </label>
        </fieldset>
        <fieldset>
            <input
                name="query"
                placeholder="search an open web index"
                required
            />
            <button>
                {% include "icons/magnifying_glass.svg" %}
                <span> Execute search </span>
            </button>
        </fieldset>
    </form>
    <p>
        <a
            href="/"
            hx-boost="true"
            hx-push-url="false"
        >
            standard search
        </a>
    </p>
{% endblock main %}
