{% extends "page.html" %}
{% import "macros/forms.html" as forms %}

{% block title %}
    home
{% endblock title %}

{% block header %}
    <div>
        <h1>
            Owdex
        </h1>
        <h2>
            pronounced "oh-decks"
        </h2>
    </div>
{% endblock header %}

{% block main %}
    <form action="/search">
        <fieldset class="
            flex flex-row justify-center
        ">
            <input 
                type="search" 
                name="query" 
                placeholder="search an open web index"
                required
                class="
                    bg-gray-200 dark:bg-gray-800 focus:bg-gray-300 focus:dark:bg-gray-700
                    border-y border-l border-gray-300 dark:border-gray-700 outline-none
                    p-2 rounded-l-lg
                    
                "
            >
            <button class="
                bg-gray-200 dark:bg-gray-800 focus:bg-gray-300 focus:dark:bg-gray-700
                border-y border-r border-gray-300 dark:border-gray-700 outline-none
                p-2 rounded-r-lg
            ">
                {% include "icons/magnifying_glass.svg" %}
                <span class="hidden">
                    Execute search
                </span>
            </button>
        </fieldset>
        <fieldset>
            {{ forms.checkbox(
                name="stable",
                field="index",
                checked=True,
                accent="accent-blue-500"
            ) }}
            {{ forms.checkbox(
                name="unstable",
                field="index",
                checked=True,
                accent="accent-green-500"
            ) }}
            {{ forms.checkbox(
                name="archive",
                field="index",
                checked=False,
                accent="accent-orange-500"
            ) }}
        </fieldset>
    </form>
{% endblock main %}
