{% extends "page.html" %}

{% block title %}
    results for "{{ query }}"
{% endblock title %}

{% block header %}
{{ super() }}
    <p>
        on {{ indices|join(', ') }}
    </p>
{% endblock header %}


{% block main %}
    {% for result in results %}
        <div>
            <a href="{{ result.url }}">
                <span>
                    {{ result.url }}
                </span>
                <h4>
                    {{ result.title }}
                </h4>
            </a>
            <p>
                {{ result.description }}
            </p>
            <div>
                <span>
                    {{ result.submitter }} on {{ result.index }}
                </span>
                <ul >
                    <li>
                        info
                    </li>
                    {% if "user" in session %}
                        <li 
                            hx-post="{{ url_for('vote.vote') }}"
                            hx-vals='{"index": "{{ result.index }}", "id": "{{ result.id }}"}'
                            hx-confirm="Vote in favour of this link?"
                        >
                            vote
                        </li>
                        <li>
                            flag
                        </li>
                        <li>
                            save
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    {% endfor %}
{% endblock main %}
