{% extends "page.html" %}

{% block title %}
    results for "{{ query }}"
{% endblock title %}

{% block header %}
{{ super() }}
<p class="ml-auto italic text-right">on {{ indices }}, sorted by {{ sort }}</p>
{% endblock header %}


{% block main %}
<main>
    <div class="flex flex-col w-1/3">
    {% for result in results %}
        <div class="my-4 space-y-1 w-full">
            <a href="{{ result.url }}">
                <span class="block text-xs truncate">{{ result.url }}</span>
                <h4 class="text-xl text-blue-400 truncate hover:underline decoration-blue-400">{{ result.title }}</h4>
            </a>
            <p class="text-sm">{{ result.description }}</p>
            <div class="flex flex-row space-x-2 text-xs">
                <span class="font-semibold">
                    {{ result.submitter }}
                </span>
                <ul class="flex flex-row space-x-1">
                    <li hx-post="{{ url_for('vote.vote', id=result.id) }}" hx-confirm="Vote in favour of this link?">
                        vote
                    </li>
                    <!-- <li><a href="#">flag</a></li>
                    <li><a href="#">info</a></li>
                    <li><a href="#">save</a></li> -->
                </ul>
            </div>
        </div>
    {% endfor %}
    </div>
</main>
{% endblock main %}
