{% extends "fragments/form.html" %}
{% import "macros/forms.html" as forms %}

{% block title %}
    sign up
{% endblock title %}

{% block content %}

    {{ forms.field(
        "username",
        required=True,
    ) }}

    {{ forms.field(
        "password",
        type="password",
        required=True,
    ) }}
    
    {{ essentials.button("sign up!") }}
    
{% endblock content %}

{% block fine_print %}

    by signing up, you agree to not do anything on our website that your mother wouldn't approve of.

{% endblock fine_print %}
