{% extends "page.html" %}

{% block title %}
    sign up
{% endblock title %}

{% block main %}
    <form method="post">
        <label>
            <input 
                type="text" 
                name="username" 
                required
            >
            <span>
                username
            </span>
        </label>
        <label>
            <input 
                type="password" 
                name="password" 
                required
            >
            <span>
                password
            </span>
        </label>
        <button>
            sign up!
        </button>
        <div>
            by signing up, you agree to not do anything on our website that your mother wouldn't approve of.
        </div>
    </form>
{% endblock main %}
