{% extends "page.html" %}
{% import "macros/forms.html" as forms %}

{% block title %}
    sign up
{% endblock title %}

{% block main %}
    <form method="post">

        {{ forms.field(
            "username",
            required=True,
        ) }}

        {{ forms.field(
            "password",
            type="password",
            required=True,
        ) }}
        
        {{ essentials.button("sign up!") }}
    
    </form>

    <div class="
        text-xs text-left 
        max-w-prose my-2
    ">
        by signing up, you agree to not do anything on our website that your mother wouldn't approve of.
    </div>

{% endblock main %}
