{% macro field(
	name, 
	type="text", 
	value=None, 
	required=False, 
	label_id=None,
	hx={}
) %}
	<label
		id="{{ label_id if label_id else '' }}"
	>
		<input 
			class="
				p-1 
				rounded-md 
				bg-gray-200 dark:bg-gray-800 focus:bg-gray-300 focus:dark:bg-gray-700
				border border-gray-300 dark:border-gray-700 outline-none
			"
			
			type="{{ type }}" 
			name="{{ name }}" 
			value="{{ value if value else '' }}"

			{% if required %}
				required
			{% endif %}

			{% for attr, value in hx.items() %}
				hx-{{attr}}="{{value}}"
			{% endfor %}
		>
		<span>
			{{ name }}
		</span>
	</label>
{% endmacro %}

{% macro checkbox(
	name,
	field=None,
	checked=False,
	accent="accent-blue-500"
) %}
	<div>
		<input
			type="checkbox"
			name="{{ field if field else name }}"
			value="{{ name }}"
			id="{{ name }}"
			class="{{ accent }}"
			{% if checked %}
				checked
			{% endif %}
		>
		<label for="{{ name }}">
			{{ name }}
		</label>
	</div>
{% endmacro %}
